section{
  width : 50%;
  height : 30%
}
h1{
  background-color : #5F5F5F;
  font-variant : small-caps;
  text-align : center;
  color : #FFFFFF;
  font-family : Arial;
  }
p{
  font-family: Arial;
}
span{
  background-color : #F1F1F1;
  color : #DC082F;
}
ul{
  font-family : Courier;
}
